@model IEnumerable<Product_Category>

    <div style="margin-left:5%;margin-right:5%">
        <!-- Top Header -->
        @await Html.PartialAsync("_Header")

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <!--Active menu item-->
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index">Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="AdminUsers">Admin Users<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Users">Customers<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Products">Products <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-action="Product_Category">Product Category<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Orders">Orders <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
            </div>
        </nav>

        <!--Information Section-->
        <section>
            <div class="container-fluid">
                <div class="title text-center col-md-12">
                    <h2>@ViewBag.DashboardCateg</h2>
                </div>
            </div>

            <!-- Form for adding new product-->
            <div class="container-fluid p-2">
                <form asp-action="AddProduct_Category" enctype="multipart/form-data" method="post">
                    <div class="form-row" p-2>
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                    <div class="form-row p-2">
                        <div class="col">
                            <input type="text" name="CategoryName" class="form-control" placeholder="Category Name">
                        </div>
                        <div class="col">
                            <input type="file" name="ImageForm" class="form-control" accept="image/png, image/jpeg" placeholder="Image Link">
                        </div>
                    </div>
                    <div class="form-row p-2">
                        <div class="col">
                            <textarea name="Description" rows="6" class="form-control" placeholder="Category Description"></textarea>
                        </div>
                    </div>
                    <div class="form-row p-2">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </form>
            </div>

            @if (Model.Count() == 0)
            {
                <div class="row justify-content-center">
                    <div class="alert alert-danger text-center"><p class="h1">No category in database</p></div>
                </div>
            }
            else
            {
                <div class="row">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Category Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Image</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Product_Category category in Model)
                            {
                                <tr>
                                    <th scope="row">@category.Id</th>
                                    <td>@category.CategoryName</td>
                                    <td>@category.Description</td>
                                    <td>@category.Image</td>
                                    <td><a asp-action="UpdateProduct_Category" asp-route-id="@category.Id" class="btn btn-sm btn-warning">Edit</a></td>
                                    <td>
                                        <form asp-action="DeleteProduct_Category" method="post">
                                            <input type="hidden" name="Id" value="@category.Id" />
                                            <button type="submit" class="btn btn-danger btn-sm">Delete</button><p class="btn-danger m-2">Beware deleting a Category will also delete the Products in it!</p><p class="btn-danger m-2">Please move first the Products in other Categories!</p>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </section>

        @await Html.PartialAsync("_Footer")

    </div>

